.productsheader{
	overflow-x: auto;
	min-width:798px;
/*	background:red;*/
/*	display: flex;*/
/*	justify-content: space-between;*/
/*	align-items: center;*/
}

.productsidebar{
	border-right: #001858 solid 2px;
}
.productsidebar > div:first-child{
	font-size:17px;
	line-height:33px;
	font-weight:600;
	color:#001858;

}
.productsidebar > div{
	margin-right:20px;
	font-size:13px;
	line-height:27px;
	font-weight:400;
	color: rgba(0, 24, 88, 0.75);
}
.active{
	border-bottom:solid #00ebc7 2px;
/*	text-decoration-skip-ink:auto;*/
}
.productsidebar > input{
	border: none;
	outline: none;
	color:#001858;
	font-size:13px;
	line-height:27px;
	background:#f3d2c1;
	display: inline-flex;
	margin-right:15px;
	padding:0;
}
.productsidebar > div:nth-child(2){
	text-decoration: underline;
	text-decoration-color:#00ebc7;
/*	text-decoration-thickness: from-font;*/
}
.products{
	margin:0 1%;
}
.products i{
	color:#fde24f;
	width:25px;
	height:25px;
}
.products > div:nth-child(3){
	color:#001858;
	font-size:14px;
	font-weight: 600;
	line-height:16px;
}
.products > div:nth-child(4){
	color:#001858;
	font-size:11px;
	font-weight: 600;
	line-height:12px;
}
.productscard{
	width:249px;
	height:246px;
	border-radius:4px;
	background:#e5e5e5;
	margin-bottom:16px;
}
.buttwrap{
/*	gap:100px;*/
margin-left:25rem;
}